@use "@/styles/mixins" as mixins;

$card-bg-color: #e5fbff;
$card-line-color: #00000033;
$card-desc-text-color: #000000;
$card-role-text-color: #000000;
$card-name-text-color: #000000;

$card-desc: (
  font-size: (
    sm: 20px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 24px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$card-role: (
  font-size: (
    sm: 12px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 16px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$card-name: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 500,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

.p-home_reviews {
  &--desc {
    margin-bottom: 24px;
  }

  &--card {
    flex: 0 0 100%;
    background-color: $card-bg-color;
    padding: 24px;
    border-radius: 8px;

    p {
      @include mixins.font($card-desc);
      height: 160px;
      color: $card-desc-text-color;
    }

    .card_info {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 8px;
      padding-top: 16px;
      border-top: 1px solid $card-line-color;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
        grid-row: 1 / span 2;
      }

      h5 {
        @include mixins.font($card-name);
        color: $card-name-text-color;
      }

      h6 {
        @include mixins.font($card-role);
        color: $card-role-text-color;
        align-self: self-end;
      }
    }
  }
}
