@use "@/styles/mixins" as mixins;

$card-bg-color: #e5fbff;
$card-title-text-color: #000000;
$card-desc-text-color: #000000;

$card-title: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 500,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$card-desc: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

.p-home_features {
  &--img {
    display: block;
    margin-inline: auto;
    margin-block: 24px 12px;
  }

  &--card {
    flex: 0 0 100%;
    padding: 12px 8px 12px 18px;
    background-color: $card-bg-color;
    border-radius: 8px;

    h4 {
      @include mixins.font($card-title);
      margin-bottom: 10px;
      color: $card-title-text-color;
    }

    p {
      @include mixins.font($card-desc);
      color: $card-desc-text-color;
    }
  }
}
