@use "@/styles/mixins" as mixins;

$list-item-bg-color: #ffffff;
$list-item-button-bg-color: #ffffff;
$list-item-button-text-color: #02677d;
$list-item-button-line-color: #70787c;
$list-item-title-text-color: #000000;
$list-item-desc-text-color: #000000;

$list-item-title: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 500,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$list-item-desc: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

.p-home_advantages {
  &--desc {
    margin-bottom: 24px;
  }

  &--list {
    @include mixins.flex($direction: column, $align: center, $gap: 24px);

    .list_item {
      background-color: $list-item-bg-color;
      padding: 24px;
      border-radius: 8px;

      h4 {
        @include mixins.font($list-item-title);
        color: $list-item-title-text-color;
        margin-block: 12px;
      }

      p {
        @include mixins.font($list-item-desc);
        color: $list-item-desc-text-color;
        margin-bottom: 24px;
      }
    }
  }
}
