@use "@/styles/mixins" as mixins;

$odd-bg-color: #ffffff;
$even-bg-color: #01657b;
$title-odd-text-color: #000000;
$title-even-text-color: #bff4ff;
$desc-odd-text-color: #000000;
$desc-even-text-color: #bff4ff;

$title: (
  font-size: (
    xs: 24px,
  ),
  font-weight: (
    xs: 500,
  ),
  line-height: (
    xs: 28px,
  ),
  letter-spacing: (
    xs: normal,
  ),
);

$desc: (
  font-size: (
    xs: 16px,
  ),
  font-weight: (
    xs: 400,
  ),
  line-height: (
    xs: 20px,
  ),
  letter-spacing: (
    xs: normal,
  ),
);

section {
  padding-block: 40px;

  &:nth-child(odd) {
    background-color: $odd-bg-color;

    .title {
      color: $title-odd-text-color;
    }

    .desc {
      color: $desc-odd-text-color;
    }
  }

  &:nth-child(even) {
    background-color: $even-bg-color;

    .title {
      color: $title-even-text-color;
    }

    .desc {
      color: $desc-even-text-color;
    }
  }

  .title {
    @include mixins.font($title);
    margin-bottom: 8px;
  }

  .desc {
    @include mixins.font($desc);
  }
}
