@use "@/styles/mixins" as mixins;

$footer-bg-color: #414141;
$category-break-line-color: #ffffff33;
$category-item-title-text-color: #ffffff;
$category-item-desc-text-color: #ffffff;
$copyright-text-color: #ffffff;

$category-title: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 500,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$category-desc: (
  font-size: (
    sm: 12px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 16px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$copyright: (
  font-size: (
    sm: 12px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 16px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

.o-footer {
  background-color: $footer-bg-color;
  padding-block: 40px;

  .container {
    @include mixins.flex($align: center, $wrap: wrap);
    row-gap: 24px;
  }

  &_logo {
    flex: 0 0 50%;
  }

  &_socials {
    flex: 0 0 50%;
    @include mixins.flex($justify: flex-end, $align: center, $gap: 16px);
  }

  &_categories {
    flex: 0 0 100%;
    @include mixins.flex($direction: column);

    &--item {
      padding-block: 24px;
      border-top: 1px solid $category-break-line-color;

      &:last-child {
        border-bottom: 1px solid $category-break-line-color;
      }

      a {
        @include mixins.font($category-title);
        color: $category-item-title-text-color;
      }

      p {
        @include mixins.font($category-desc);
        color: $category-item-desc-text-color;
        margin-top: 8px;
      }
    }
  }

  &_copyright {
    @include mixins.font($copyright);
    flex: 0 0 100%;
    color: $copyright-text-color;
  }
}
