@use "@/styles/mixins" as mixins;
$slides-control-item-bg-color: #01657b;

.m-slider {
  overflow: hidden;

  &_slides {
    @include mixins.flex($align: center, $gap: 100%);
    transition: transform 0.5s;
  }

  &_control {
    @include mixins.flex($justify: center, $align: center, $gap: 10px);
    margin-top: 24px;

    &--item {
      width: 12px;
      height: 12px;
      border-radius: 111px;
      background-color: $slides-control-item-bg-color;
      transition: width 0.5s;

      &.active {
        width: 80px;
      }
    }
  }
}
