@use "@/styles/mixins" as mixins;

$title-text-color: #000000;
$desc-text-color: #000000;

$title: (
  font-size: (
    sm: 32px,
  ),
  font-weight: (
    sm: 500,
  ),
  line-height: (
    sm: 40px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

$desc: (
  font-size: (
    sm: 16px,
  ),
  font-weight: (
    sm: 400,
  ),
  line-height: (
    sm: 20px,
  ),
  letter-spacing: (
    sm: normal,
  ),
);

.p-home_banner {
  background: url("/images/banner.png") no-repeat center center;
  background-size: cover;
  padding-block: 120px;

  .container {
    @include mixins.flex($direction: column, $justify: center, $align: center);
  }

  h2 {
    @include mixins.font($title);
    color: $title-text-color;
    text-align: center;
  }

  p {
    @include mixins.font($desc);
    color: $desc-text-color;
    text-align: center;
    margin-bottom: 40px;
  }
}
